apiVersion: batch/v1
kind: Job
metadata:
  name: selenium-test-job
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: selenium-tests
          image: YOUR_DOCKERHUB_USERNAME/selenium-tests:latest
