name: Selenium Kubernetes Tests

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/selenium-tests:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/selenium-tests:latest

    - name: Setup kubectl
      run: |
        mkdir -p $HOME/.kube
        echo "${{ secrets.KUBE_CONFIG }}" | base64 --decode > $HOME/.kube/config

    - name: Deploy Selenium Grid
      run: |
        kubectl apply -f k8s/selenium-grid.yaml

    - name: Run Selenium Tests
      run: |
        kubectl delete job selenium-test-job --ignore-not-found
        kubectl apply -f k8s/test-runner-job.yaml

    - name: Wait for Job Completion
      run: |
        kubectl wait --for=condition=complete job/selenium-test-job --timeout=300s

    - name: Show Logs
      run: |
        kubectl logs job/selenium-test-job
