name: Selenium Grid via Helm

on:
  workflow_dispatch:

jobs:
  selenium-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Helm
      uses: azure/setup-helm@v4

    - name: Setup kubeconfig
      run: |
        mkdir -p $HOME/.kube
        echo "${{ secrets.KUBE_CONFIG }}" | base64 --decode > $HOME/.kube/config

    - name: Add Selenium Helm Repo
      run: |
        helm repo add selenium https://www.selenium.dev/docker-selenium
        helm repo update

    - name: Install Selenium Grid
      run: |
        helm upgrade --install selenium-grid selenium/selenium-grid \
          --set chromeNode.replicas=3

    - name: Wait for Selenium Grid
      run: |
        kubectl rollout status deployment/selenium-grid-selenium-hub --timeout=300s

    - name: Verify Pods
      run: |
        kubectl get pods
        kubectl get svc
